.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

.announcements {
  display: flex;
  justify-content: center;
  background-color: #d8e8e3;
}

.announcements span {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  max-width: 60%;
  text-align: center;
  font-size: 19px;
  line-height: 1.75;
  font-weight: 500;
}
